body {
	background-color: lightsteelblue;
}

/* @keyframes */


.intro {
	position: absolute;
	left: -265px;
	top: 90px;
	color: black;
}
/*h1 {
	color: red;
	font-style: bold;
	font-size: 40px;

}*/

td {
	text-align: center;
	justify-content: center;
	transition: all 0.5s ease;
	width: 100px;
	height: 100px;
	background-color: blue;

}

.chip {
	margin: 0;
	padding: 0;
	position: relative;
	top: 86px;
	left: 30px;
	background-color: red;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.inner {
	position: relative;
	left: 13px;
	top: 12.7px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	background-color: red;
	box-shadow: inset 0px 0px 60px darkred;
}

.placed-chip {
	margin: 0;
	padding: 0;
	background-color: red;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 9px;
}

.board {
	position: absolute;
	left: 325px;
	transition: all 3s ease;
	top: 100px;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

table {
	margin: 0;
	border-collapse: collapse;
}

.dark {
	background-color: darkblue;
}

.yellow {
	background-color: yellow;
}

.inner-yellow {
	background-color: yellow;
	box-shadow: inset 0px 0px 60px #b3b300;
}

.winner {
	margin-right: 0 auto;
	margin-left: 0 auto;
	opacity: 1;
	position: absolute;
	left: 575px;
	top: 400px;
	font-size: 4rem;
	z-index: 20;
	color: yellow;
}

.game-over {
	position: absolute;
	left: 410px;
	top: -300px;
	font-size: 5rem;
}
