body {
	background-color: lightsteelblue;
}

h1 {
	color: red;
	font-style: bold;
	font-size: 40px;

}

td {
	text-align: center;
	justify-content: center;
	/*transition: all 0.5s ease?;*/
	width: 100px;
	height: 100px;
	background-color: blue;

}

.chip {
	margin: 0;
	padding: 0;
	position: relative; /* need position change*/
	top: 86px;
	left: 30px;
	background-color: red;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.inner {
	position: relative;
	left: 13px;
	top: 12.7px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	background-color: red;
	box-shadow: inset 0px 0px 60px darkred;
}

.placed-chip {
	margin: 0;
	padding: 0;
	background-color: red;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 9px;
}

.board {
	position: absolute;
	left: 325px;
	/*transition: all 3s ease?;*/
	top: 100px;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

table {
	margin: 0;
	border-collapse: collapse;
}

.dark {
	background-color: darkblue;
}

.yellow {
	background-color: yellow;
}

.inner-yellow {
	background-color: yellow;
	box-shadow: inset 0px 0px 60px #b3b300;
}
